<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../public/styles/styles.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <script src="https://kit.fontawesome.com/cfa33e5175.js"></script>

    <title>Home Page</title>
  </head>
  <body>
   
    <div id = "navbar">
      <!-- Image and text -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "navContent">
        <a class="navbar-brand" href="#">
          <i class="fa fa-bread-slice"></i> EmptyPantry
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                        <a class="nav-link" href="splash.html">Home</a>
                  </li>
                         <li class="nav-item">
                                <a class="nav-link" href="main.html">Search</a>
                         </li>
                </ul>
                <span id = "social-links">
                        <a href= "https://www.facebook.com/"><i class="fab fa-facebook"></i></a>|   
                        <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>|  
                        <a href= "https://www.instagram.com/"><i class="fab fa-instagram"></i></a>|     
                        <a href= "https://github.com/ctd4wa/EmptyPantry"><i class="fab fa-github"></i></a>|     
                </span>
              </div>
      </nav>
    </div>
    
    <div>
        
      <div class="container" id = "Ingredient-Forms">
            <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"><h4>Ingredients</h4></label>
                      <input type="email" class="form-control" id="ingredient-one" placeholder="Tomatoes">
                      <input type="email" class="form-control" id="ingredient-two" placeholder="Corn">
                      <input type="email" class="form-control" id="ingredient-three" placeholder="Lettuce">
                      <input type="email" class="form-control" id="ingredient-four" placeholder="Pinto Beans">
                      <input type="email" class="form-control" id="ingredient-five" placeholder="Brown Rice">
                     
                    </div>
                    <button type="button" class="btn btn-secondary" id = "add-ingredient">Search for recipes</button>
      </div>
    
    </div>
    <div class="container" id = "recipe-list">
        <h4>Good Eats</h4>
        <div class = "row">
            <div class = "col-sm-4">
                    <div class="card" style="width: 18rem;">
                            <img src="../../public/style" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                              <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>
                              <a href="#" class="btn btn-primary" id = "thumbs-up"><i class="fa fa-thumbs-up"></i></a>
                              <a href="#" class="btn btn-danger" id = "pin-for-later"><i class="fa fa-thumbtack"></i></a>
                            </div>
                    </div>           
            </div>
                <div class = "col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img src="../../public/style" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                  <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>
                                  <a href="#" class="btn btn-primary" id = "thumbs-up"><i class="fa fa-thumbs-up"></i></a>
                                  <a href="#" class="btn btn-danger" id = "pin-for-later"><i class="fa fa-thumbtack"></i></a>
                                </div>
                        </div>  
                
                </div>
                    <div class = "col-sm-4">
                            <div class="card" style="width: 18rem;">
                                    <img src="../../public/style" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                      <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>
                                      <a href="#" class="btn btn-primary" id = "thumbs-up"><i class="fa fa-thumbs-up"></i></a>
                                      <a href="#" class="btn btn-danger" id = "pin-for-later"><i class="fa fa-thumbtack"></i></a>
                                    </div>
                            </div>  
                    
                    </div>
        </div>
        <br>
        <div class = "row">
                <div class = "col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img src="../../public/style" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                  <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>
                                  <a href="#" class="btn btn-primary" id = "thumbs-up"><i class="fa fa-thumbs-up"></i></a>
                                  <a href="#" class="btn btn-danger" id = "pin-for-later"><i class="fa fa-thumbtack"></i></a>
                                </div>
                        </div>           
                </div>
                <div class = "col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img src="../../public/style" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                  <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>
                                  <a href="#" class="btn btn-primary" id = "thumbs-up"><i class="fa fa-thumbs-up"></i></a>
                                  <a href="#" class="btn btn-danger" id = "pin-for-later"><i class="fa fa-thumbtack"></i></a>
                                </div>
                        </div>           
                </div>
                <div class = "col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img src="../../public/style" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                  <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>
                                  <a href="#" class="btn btn-primary" id = "thumbs-up"><i class="fa fa-thumbs-up"></i></a>
                                  <a href="#" class="btn btn-danger" id = "pin-for-later"><i class="fa fa-thumbtack"></i></a>
                                </div>
                        </div>           
                </div>

        </div>
        
        

    </div>
    
        <div class = "container" id = "favorite-list">
                <h4>Recommended</h4>
            <div class = "row">
                <div class = "col-sm-4">
                
                    <div class="card" style="width: 18rem;">
                        <img src="../../public/style" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                    <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                            </div>
                    </div>          
                </div>
                        <div class = "col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="../../public/style" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                            <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                    </div>
                            </div>          
                        </div>
                            <div class = "col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="../../public/style" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                                <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                        </div>
                                </div>          
                            </div>
            </div>
            <br>
            <div class = "row">
                    <div class = "col-sm-4">
                    
                        <div class="card" style="width: 18rem;">
                            <img src="../../public/style" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                        <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                </div>
                        </div>          
                    </div>
                            <div class = "col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="../../public/style" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                                <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                        </div>
                                </div>          
                            </div>
                                <div class = "col-sm-4">
                                    <div class="card" style="width: 18rem;">
                                        <img src="../../public/style" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                                    <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                            </div>
                                    </div>          
                                </div>
                </div>

        </div>

        <div class = "container" id = "future-meals-list">
                <h4>Pinned for Later</h4>
            <div class = "row">
                <div class = "col-sm-4">
                
                    <div class="card" style="width: 18rem;">
                        <img src="../../public/style" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                    <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                            </div>
                    </div>          
                </div>
                        <div class = "col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img src="../../public/style" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                            <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                    </div>
                            </div>          
                        </div>
                            <div class = "col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="../../public/style" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                                <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                        </div>
                                </div>          
                            </div>
            </div>
            <br>
            <div class = "row">
                    <div class = "col-sm-4">
                    
                        <div class="card" style="width: 18rem;">
                            <img src="../../public/style" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                        <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                </div>
                        </div>          
                    </div>
                            <div class = "col-sm-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="../../public/style" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                                <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                        </div>
                                </div>          
                            </div>
                                <div class = "col-sm-4">
                                    <div class="card" style="width: 18rem;">
                                        <img src="../../public/style" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title" id="recipe-name">Recipe Name</h5>
                                                    <p class="card-text" id = "recipe-url">The recipe url could go here along with the the name of the website</p>                  
                                            </div>
                                    </div>          
                                </div>
                </div>

        </div>
  </body>
</html>
