body {
  background: url("food.png");
  margin: 0;
  padding: 0;
}
#Ingredient-Forms {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
}
#navbar {
  width: 100%;
  overflow: hidden;
}
#navContent {
  margin: 0 auto;
  width: 9999px;
}
#result-box {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
  overflow: scroll;
}
#favorite-list {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
}
#future-meals-list {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
}
#social-links {
  color: white;
  position: relative;
}
#register-form {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
}
#log-in-form {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
  position: relative;
}
.stop {
  width: 18rem;
  margin: 40px;
}
.animated bounce delay-2s {
  animation-duration: 4s;
  animation-delay: 1s;
}
/* splash page */
#splash-info {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
#register-tag {
  text-decoration: none;
}
a {
  color: rgb(199, 199, 199);
}
#recipe-id-form {
  padding: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(56, 56, 56);
  color: white;
  text-align: center;
  font-size: 7px;
}
#navbar-right {
  float: right;
  color: white;
}

@media screen and (max-width: 500px) {
  #navbar-left {
    float: right;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
#like-box {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
}

#pin-box {
  margin-top: 50px;
  padding: 15px;
  opacity: 0.7;
  font-size: 1.7em bold;
  border-color: rgb(199, 199, 199);
  background: rgb(221, 216, 207);
  border-style: solid;
  border-width: 6px;
}
